/* Ensemble des styles utilisés dans le Streamlit */
/* pour l'appeler dans le streamlit : 

with open("streamlit_styles.css", "r") as f:
    css = f.read()
st.markdown(f"<style>{css}</style>", unsafe_allow_html=True) */

/* Style des onglets */
.stTabs [data-baseweb="tab-list"] {
    display: flex;
    gap: 10px;
}

.stTabs [data-baseweb="tab"] {
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.stTabs [data-baseweb="tab"]:hover {
    background-color: #8f8d9b;
}

.stTabs [aria-selected="true"] {
    background-color:  #57546a;
    border-color: #ccc;
    border-bottom-color: transparent;
}

/* Modifier le fond global */
body {
    background-color: #f0f0f0;
}

/* Modifier le fond des éléments de Streamlit */
.stApp {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50 px;
}
